# Настройка стилей в PrettyTable

In [1]:
from prettytable import PrettyTable

In [3]:
# (2) Добавление всех данных сразу
ta = PrettyTable()
# поля
ta.field_names = ["Фамилия","Имя","Возраст","ЗП"]
# Данные
ta.add_rows(
    [
        ["Иванов","Иван",19,50000],
        ["Петров","Пётр",27,120000],
        ["Сидоров","Ян",16,100]
    ])
# печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

## Изменение рамки таблицы

In [5]:
import prettytable

In [13]:
ta.set_style(prettytable.MSWORD_FRIENDLY)
print(ta)

| Фамилия | Имя  | Возраст |   ЗП   |
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |

In [7]:
ta.set_style(prettytable.PLAIN_COLUMNS)
print(ta)

Фамилия        Имя         Возраст          ЗП
 Иванов        Иван           19          50000
 Петров        Пётр           27          120000
Сидоров         Ян            16           100

In [15]:
ta.set_style(prettytable.MARKDOWN)
print(ta)

| Фамилия | Имя  | Возраст |   ЗП   |
|:-------:|:----:|:-------:|:------:|
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |

In [18]:
ta.set_style(prettytable.DOUBLE_BORDER)
print(ta)

╔═════════╦══════╦═════════╦════════╗
║ Фамилия ║ Имя  ║ Возраст ║   ЗП   ║
╠═════════╬══════╬═════════╬════════╣
║  Иванов ║ Иван ║    19   ║ 50000  ║
║  Петров ║ Пётр ║    27   ║ 120000 ║
║ Сидоров ║  Ян  ║    16   ║  100   ║
╚═════════╩══════╩═════════╩════════╝

In [19]:
ta.set_style(prettytable.DEFAULT)
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

## Тонкая настройка рамки таблицы

In [21]:
ta.border = False
print(ta)

 Фамилия  Имя   Возраст    ЗП
  Иванов  Иван     19    50000
  Петров  Пётр     27    120000
 Сидоров   Ян      16     100

In [23]:
ta.border = False
print(ta.get_string(border=True))

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [27]:
ta.set_style(prettytable.DEFAULT)
ta.top_junction_char = '$'
ta.bottom_junction_char = '$'
ta.horizontal_char = '$'
ta.vertical_char = '$'
print(ta)

+$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$+
$ Фамилия $ Имя  $ Возраст $   ЗП   $
+$$$$$$$$$+$$$$$$+$$$$$$$$$+$$$$$$$$+
$  Иванов $ Иван $    19   $ 50000  $
$  Петров $ Пётр $    27   $ 120000 $
$ Сидоров $  Ян  $    16   $  100   $
+$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$+

# HW:
- сделать одиночную рамку, двойную рамку и тп.