# PrettyTable - красивый вывод таблицы в терминал или текстовый файл

Note:
* py -m pip install prettytable

In [2]:
from prettytable import PrettyTable

## Добавление данных в таблицу

In [3]:
# (1) Добавление данных построчно
ta = PrettyTable()
# поля
ta.field_names = ["Фамилия","Имя","Возраст","ЗП"]
# Данные
ta.add_row(["Иванов","Иван",19,50000])
ta.add_row(["Петров","Пётр",27,120000])
ta.add_row(["Сидоров","Ян",16,100])
# печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [4]:
# (2) Добавление всех данных сразу
ta = PrettyTable()
# поля
ta.field_names = ["Фамилия","Имя","Возраст","ЗП"]
# Данные
ta.add_rows(
    [
        ["Иванов","Иван",19,50000],
        ["Петров","Пётр",27,120000],
        ["Сидоров","Ян",16,100]
    ])
# печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [5]:
ta

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [6]:
ta.get_string()

'+---------+------+---------+--------+\n| Фамилия | Имя  | Возраст |   ЗП   |\n+---------+------+---------+--------+\n|  Иванов | Иван |    19   | 50000  |\n|  Петров | Пётр |    27   | 120000 |\n| Сидоров |  Ян  |    16   |  100   |\n+---------+------+---------+--------+'

In [7]:
print(ta.get_string())

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

## Копия таблицы

In [8]:
ta_2 = ta 
ta_3 = ta[:-1]

In [9]:
print(ta_3)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
+---------+------+---------+--------+

In [10]:
print(id(ta))
print(id(ta_2))
print(id(ta_3))

1952207617472
1952207617472
1952207255968

## Выравнивание данных в таблице

In [11]:
# Выравнивание всех столбцеов табицы: 'l', 'r', 'c'
ta.align = 'r'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |      19 |  50000 |
|  Петров | Пётр |      27 | 120000 |
| Сидоров |   Ян |      16 |    100 |
+---------+------+---------+--------+

In [12]:
ta.align['Фамилия'] = 'l'
ta.align['Возраст'] = 'c'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Иванов  | Иван |    19   |  50000 |
| Петров  | Пётр |    27   | 120000 |
| Сидоров |   Ян |    16   |    100 |
+---------+------+---------+--------+

## Сортировка данных в таблице

In [13]:
print(ta.get_string(sortby="Возраст"))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Сидоров |   Ян |    16   |    100 |
| Иванов  | Иван |    19   |  50000 |
| Петров  | Пётр |    27   | 120000 |
+---------+------+---------+--------+

In [14]:
print(ta.get_string(sortby="Возраст",reversesort=True))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Пётр |    27   | 120000 |
| Иванов  | Иван |    19   |  50000 |
| Сидоров |   Ян |    16   |    100 |
+---------+------+---------+--------+

## Изменить отображение столбцов и количество строк

In [15]:
print(ta.get_string(fields=["Имя","Возраст"]))

+------+---------+
|  Имя | Возраст |
+------+---------+
| Иван |    19   |
| Пётр |    27   |
|   Ян |    16   |
+------+---------+

In [16]:
print(ta.get_string(start=1,end=3))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Пётр |    27   | 120000 |
| Сидоров |   Ян |    16   |    100 |
+---------+------+---------+--------+

## Экспортировать таблицу в другой формат

In [17]:
print(ta.get_csv_string())

Фамилия,Имя,Возраст,ЗП
Иванов,Иван,19,50000
Петров,Пётр,27,120000
Сидоров,Ян,16,100

In [19]:
print(ta.get_json_string(ensure_ascii=False))

[
    [
        "Фамилия",
        "Имя",
        "Возраст",
        "ЗП"
    ],
    {
        "Возраст": 19,
        "ЗП": 50000,
        "Имя": "Иван",
        "Фамилия": "Иванов"
    },
    {
        "Возраст": 27,
        "ЗП": 120000,
        "Имя": "Пётр",
        "Фамилия": "Петров"
    },
    {
        "Возраст": 16,
        "ЗП": 100,
        "Имя": "Ян",
        "Фамилия": "Сидоров"
    }
]

In [22]:
print(ta.get_html_string(attributes={"id":"my_table", "class":"super_table"}))

<table id="my_table" class="super_table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>ЗП</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>19</td>
            <td>50000</td>
        </tr>
        <tr>
            <td>Петров</td>
            <td>Пётр</td>
            <td>27</td>
            <td>120000</td>
        </tr>
        <tr>
            <td>Сидоров</td>
            <td>Ян</td>
            <td>16</td>
            <td>100</td>
        </tr>
    </tbody>
</table>