# Основные объекты в Pandas

In [2]:
import pandas as pd
# pip install pandas

In [3]:
pd.__version__

'1.2.3'

## Series

In [4]:
s = pd.Series(["Брест","Харьков","Сочи","Тула"])
s

0      Брест
1    Харьков
2       Сочи
3       Тула
dtype: object

In [5]:
s = pd.Series(["Брест","Харьков","Сочи","Тула"], 
              index=["Крепость","Госпром","Море","Пряник"])
s

Крепость      Брест
Госпром     Харьков
Море           Сочи
Пряник         Тула
dtype: object

In [6]:
# .loc - Доступ по меткам
s.loc["Крепость"]

'Брест'

In [7]:
s.Крепость

'Брест'

In [8]:
s.loc[["Крепость", "Госпром"]]

Крепость      Брест
Госпром     Харьков
dtype: object

In [9]:
# .iloc - доступ по порядковому номеру
s.iloc[0]

'Брест'

In [10]:
s.iloc[[0,2]]

Крепость    Брест
Море         Сочи
dtype: object

In [11]:
s.iloc[0:2]

Крепость      Брест
Госпром     Харьков
dtype: object

## DataFrame

In [12]:
#(A)
df = pd.DataFrame({
    'col1': [1,2],
    'col2': [3,4],
})
df

   col1  col2
0     1     3
1     2     4

In [13]:
# (B)
df = pd.DataFrame([[1,2,3],[10,20,30]],
                  columns=['aaa','bbb','ccc'],
                  index=['line1','line2']
                  )
df

       aaa  bbb  ccc
line1    1    2    3
line2   10   20   30

# HW:
- читать документацию по Pandas
- создать свои примеры

In [14]:
import json
json_buf=json.dumps({'columns':['col_A', 'col_B', 'col_C'],'index': [0,1],'data':[['a1','b1','c1'],['a2','b2','c2']]})
df1=pd.read_json(json_buf, orient='split')
df1

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

In [16]:
json_buf2= json.dumps([{'col_A': 'a1', 'col_B': 'b1', 'col_C':'c1'}, {'col_A': 'a2', 'col_B': 'b2', 'col_C': 'c2'}])
df2 = pd.read_json(json_buf2, orient='record')
df2

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

In [ ]:
import pandas as pd
import numpy as np
from io import StringIO