# PrettyTable - красивый вывод таблицы в терминал или текстовый файл

Note:
* py -m pip install prettytable

In [19]:
from prettytable import PrettyTable

## Добавление данных в таблицу

In [20]:
# (1) Добавление данных построчно
ta = PrettyTable()
# поля
ta.field_names = ["Фамилия","Имя","Возраст","ЗП"]
# Данные
ta.add_row(["Иванов","Иван",19,50000])
ta.add_row(["Петров","Пётр",27,120000])
ta.add_row(["Сидоров","Ян",16,100])
# печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [21]:
# (2) Добавление всех данных сразу
ta = PrettyTable()
# поля
ta.field_names = ["Фамилия","Имя","Возраст","ЗП"]
# Данные
ta.add_rows(
    [
        ["Иванов","Иван",19,50000],
        ["Петров","Пётр",27,120000],
        ["Сидоров","Ян",16,100]
    ])
# печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [22]:
ta

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

In [23]:
ta.get_string()

'+---------+------+---------+--------+\n| Фамилия | Имя  | Возраст |   ЗП   |\n+---------+------+---------+--------+\n|  Иванов | Иван |    19   | 50000  |\n|  Петров | Пётр |    27   | 120000 |\n| Сидоров |  Ян  |    16   |  100   |\n+---------+------+---------+--------+'

In [24]:
print(ta.get_string())

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
| Сидоров |  Ян  |    16   |  100   |
+---------+------+---------+--------+

## Копия таблицы

In [25]:
ta_2 = ta 
ta_3 = ta[:-1]

In [26]:
print(ta_3)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Пётр |    27   | 120000 |
+---------+------+---------+--------+

In [27]:
print(id(ta))
print(id(ta_2))
print(id(ta_3))

1848790285760
1848790285760
1848786934656

## Выравнивание данных в таблице

In [28]:
# Выравнивание всех столбцеов табицы: 'l', 'r', 'c'
ta.align = 'r'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |      19 |  50000 |
|  Петров | Пётр |      27 | 120000 |
| Сидоров |   Ян |      16 |    100 |
+---------+------+---------+--------+

In [29]:
ta.align['Фамилия'] = 'l'
ta.align['Возраст'] = 'c'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Иванов  | Иван |    19   |  50000 |
| Петров  | Пётр |    27   | 120000 |
| Сидоров |   Ян |    16   |    100 |
+---------+------+---------+--------+

## Сортировка данных в таблице

In [30]:
print(ta.get_string(sortby="Возраст"))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Сидоров |   Ян |    16   |    100 |
| Иванов  | Иван |    19   |  50000 |
| Петров  | Пётр |    27   | 120000 |
+---------+------+---------+--------+

In [32]:
print(ta.get_string(sortby="Возраст",reversesort=True))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Пётр |    27   | 120000 |
| Иванов  | Иван |    19   |  50000 |
| Сидоров |   Ян |    16   |    100 |
+---------+------+---------+--------+

## Изменить отображение столбцов и количество строк

In [34]:
print(ta.get_string(fields=["Имя","Возраст"]))

+------+---------+
|  Имя | Возраст |
+------+---------+
| Иван |    19   |
| Пётр |    27   |
|   Ян |    16   |
+------+---------+

In [36]:
print(ta.get_string(start=1,end=3))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Пётр |    27   | 120000 |
| Сидоров |   Ян |    16   |    100 |
+---------+------+---------+--------+